model_dir: model

data:
  train_features_file: tok/src-train.tok
  train_labels_file: tok/tgt-train.tok
  eval_features_file: tok/src-valid.txt
  eval_labels_file: tok/tgt-valid.txt
  source_vocabulary: tok/src-vocab.tok
  target_vocabulary: tok/tgt-vocab.tok

train:
  # (optional) Save a checkpoint every this many steps.
  save_checkpoints_steps: 1000
  # (optional) How many checkpoints to keep on disk.
  keep_checkpoint_max: 5


# Model and optimization parameters.
params:
    decoding_subword_token: ▁
params:
  decoding_subword_token: ▁
  decoding_noise:
    - dropout: 0.1
    - replacement: [0.1, ｟unk｠]
    - permutation: 3

    # (optional) Replace unknown target tokens by the original source token with the
    # highest attention (default: false).
#  replace_unknown_target: false


infer:
  n_best: 1
